<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Comment Blog</title>
</head>
<body>
	<div class="generic-container" ng-controller="BlogController as ctrl">


	
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="lead">Comment Blog</span>
				</div>
				<div class="formcontainer">
					<form ng-submit="ctrl.submit()" name="myForm"
						class="form-horizontal">

						
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="title">post your comments</label>
								<div class="col-md-7">
									<input type="text" ng-model="ctrl.Blog.title"
										id="password" class="username form-control input-sm"
										placeholder="Enter your blog title" required ng-minlength="3" />
								</div>
							</div>
						</div>

                         <div class="row">
							<div class="form-actions floatRight">
								<input type="submit" value="Create"
									class="btn btn-primary btn-sm">
								<button type="button" ng-click="ctrl.reset()"
									class="btn btn-warning btn-sm">Reset Comment</button>
							</div>
						</div>
					
</form>
</div>
</div>
</div>

</body>
</html>